#questions-form {
  padding: 10px; 
}

.ojjeform .form-type-select > .form-select,
.ojjeform .form-type-multiselect > .form-multiselect,
.ojjeform .form-type-checkbox > .form-checkbox,
.ojjeform .form-type-checkbox > label,
.ojjeform .form-type-radio > .form-radio,
.ojjeform .form-type-radio > label {
  display: none !important; 
}

.ojjeform .form-type-select {
  position: relative; 
}
  .ojjeform .form-type-select > label {
    display: none; 
}
  .ojjeform .form-type-select li {
    list-style: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px; 
}
    .ojjeform .form-type-select li:first-of-type {
      margin-top: 0px; 
}
  .ojjeform .form-type-select a {
    text-decoration: none;
    background-color: #fff;
    width: 100px;
    text-indent: 10px;
    display: block;
    height: 19px;
    line-height: 19px;
    font-size: 1.2rem;
    outline: none; 
}

.ojjeform .form-type-multiselect {
  position: relative; 
}
  .ojjeform .form-type-multiselect.open .select-content {
    z-index: 100000; 
}
  .ojjeform .form-type-multiselect > label {
    display: none; 
}
  .ojjeform .form-type-multiselect .ojjeform-multiselect-list {
    padding: 0px;
    margin: 0px; 
}
  .ojjeform .form-type-multiselect .multiselect-headline {
    width: 100%;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    text-indent: 10px;
    height: 30px;
    line-height: 30px;
    position: relative;
    background-color: #fff;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative; 
}
    .ojjeform .form-type-multiselect .multiselect-headline:before {
      content: "";
      position: absolute;
      top: 13px;
      right: 10px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #A5A5A5;
      z-index: 2; 
}
  .ojjeform .form-type-multiselect .select-content {
    width: 100%;
    position: absolute;
    top: 29px;
    left: 0px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 3px;
    display: none; 
}
    .ojjeform .form-type-multiselect .select-content .ojjeform-multiselect-list {
      padding: 0px;
      margin: 0px;
      max-height: 120px;
      overflow-y: auto; 
}
      .ojjeform .form-type-multiselect .select-content .ojjeform-multiselect-list::-webkit-scrollbar {
        width: 5px;
        height: 15px; 
}
      .ojjeform .form-type-multiselect .select-content .ojjeform-multiselect-list::-webkit-scrollbar-thumb {
        background: #c5c5c5;
        -webkit-border-radius: 7px;
        border-radius: 7px; 
}
      .ojjeform .form-type-multiselect .select-content .ojjeform-multiselect-list::-webkit-scrollbar-track {
        background: #ffffff; 
}
      .ojjeform .form-type-multiselect .select-content .ojjeform-multiselect-list li {
        list-style: none;
        cursor: pointer;
        width: 100%; 
}
        .ojjeform .form-type-multiselect .select-content .ojjeform-multiselect-list li .checkbox {
          display: inline-block;
          height: auto; 
}
        .ojjeform .form-type-multiselect .select-content .ojjeform-multiselect-list li label {
          display: inline-block;
          margin-left: 4px;
          font-size: 1.2rem;
          line-height: 1;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; 
}
    .ojjeform .form-type-multiselect .select-content .multiselect-close-list {
      width: 100%;
      display: block;
      float: left;
      background-color: #f63e6f;
      color: #fff;
      margin-top: 3px;
      padding: 5px 0px 5px 0px;
      text-align: center;
      text-decoration: none; 
}

.ojjeform .form-type-select {
  position: relative; 
}
  .ojjeform .form-type-select .select-content {
    width: 100%;
    position: absolute;
    top: 29px;
    left: 0px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 0px 3px 0px 0px;
    display: none; 
}
    .ojjeform .form-type-select .select-content .ojjeform-select-list {
      padding: 0px 3px 0px 0px;
      margin: 0px;
      max-height: 120px;
      overflow-y: auto; 
}
      .ojjeform .form-type-select .select-content .ojjeform-select-list::-webkit-scrollbar {
        width: 5px;
        height: 15px; 
}
      .ojjeform .form-type-select .select-content .ojjeform-select-list::-webkit-scrollbar-thumb {
        background: #c5c5c5;
        -webkit-border-radius: 7px;
        border-radius: 7px; 
}
      .ojjeform .form-type-select .select-content .ojjeform-select-list::-webkit-scrollbar-track {
        background: #ffffff; 
}
  .ojjeform .form-type-select.open .select-content {
    z-index: 100000; 
}
  .ojjeform .form-type-select .ojjeform-select-chosen {
    display: inline;
    float: left;
    clear: both;
    width: 100%; 
}
  .ojjeform .form-type-select a {
    width: 100%;
    height: 30px;
    line-height: 29px;
    color: #000; 
}

.ojjeform .ojjeform-select-list {
  padding: 0px;
  margin: 0px;
  max-height: 120px;
  overflow-y: auto; 
}
  .ojjeform .ojjeform-select-list::-webkit-scrollbar {
    width: 5px;
    height: 15px; 
}
  .ojjeform .ojjeform-select-list::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
}
  .ojjeform .ojjeform-select-list::-webkit-scrollbar-track {
    background: #ffffff; 
}
  .ojjeform .ojjeform-select-list li {
    margin: 0px;
    padding: 0px;
    list-style: none; 
}
    .ojjeform .ojjeform-select-list li a:hover {
      background-color: #e5e5e5; 
}

.ojjeform .ojjeform-select-chosen-link {
  position: relative;
  width: 100%;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
  .ojjeform .ojjeform-select-chosen-link:before {
    content: "";
    position: absolute;
    top: 13px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #A5A5A5;
    z-index: 2; 
}

.ojjeform .form-type-checkbox .ojjeform-checkbox,
.ojjeform .form-type-radio .ojjeform-radio {
  text-decoration: none;
  display: block;
  float: left;
  position: relative; 
}

.ojjeform .form-type-checkbox {
  display: block;
  float: left;
  margin-right: 20px; 
}
  .ojjeform .form-type-checkbox .ojjeform-checkbox {
    text-align: center; 
}

.ojjeform .form-radios {
  display: block;
  float: left;
  width: 100%;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px; 
}

.ojjeform .form-type-radio {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 15px; 
}

.ojjeform .multiple-rows .form-type-radio {
  min-height: 90px;
  margin-bottom: 20px; 
}

.ojjeform .multiple-rows .radio-group {
  display: block;
  float: left;
  margin-bottom: 30px;
  margin-left: 70px; 
}
  .ojjeform .multiple-rows .radio-group .radio-group-label {
    display: block;
    float: left;
    font-size: 2rem;
    margin-bottom: 10px; 
}
  .ojjeform .multiple-rows .radio-group .form-type-radio {
    clear: both;
    margin-bottom: 10px;
    margin-left: 0px;
    min-height: 0; 
}

.ojjeform .form-type-checkbox .ojjeform-checkbox .icon {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  position: relative;
  cursor: pointer; 
}
  .ojjeform .form-type-checkbox .ojjeform-checkbox .icon:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2px;
    width: 14px;
    height: 14px;
    pointer-events: none; 
}

.ojjeform .form-type-checkbox .ojjeform-checkbox .text {
  float: left;
  display: block;
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 3px;
  margin-left: 5px;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.ojjeform .form-type-checkbox.active .ojjeform-checkbox .icon {
  border: 1px solid #71B747; 
}
  .ojjeform .form-type-checkbox.active .ojjeform-checkbox .icon:after {
    background: url("../img/ojjeform-checkbox.png") transparent no-repeat;
    background-size: cover; 
}

.ojjeform .form-type-radio .ojjeform-radio .icon {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: 0px;
  left: 0px;
  cursor: pointer; 
}
  .ojjeform .form-type-radio .ojjeform-radio .icon:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    z-index: 2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    pointer-events: none; 
}

.ojjeform .form-type-radio .ojjeform-radio .text {
  display: block;
  float: left;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 1.2rem;
  color: #000;
  text-align: left;
  line-height: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.ojjeform .form-type-radio.active .ojjeform-radio .icon:after {
  background-color: #71B747; 
}

.ojjeform .form-type-radio.active .ojjeform-radio .text {
  color: #000; 
}

.ojjeform .form-row {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 10px; 
}

.ojjeform .btn-wrapper {
  margin-top: 20px;
  float: left;
  clear: both; 
}
  .ojjeform .btn-wrapper .btn {
    display: inline-block; 
}
